body {
    background: url("../images/background.jpg") no-repeat fixed center;
}

.font-size30 {
    font-size: 30px;
    color: darkblue;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 46px 9px;

}

/*Контейнер для визитов*/

.visits-container {
    height: 100%;
    background-color: rgba(237, 246, 255, 0.9);
    border: 3px solid #043785;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main-color {
    color: #043785;
}

/*Карточки*/

.load-more-btn {
    background-color: #FFF5D2;
}

.card-edits {
    width: 100%;
    background-color: #F8E794
}

.edit {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    padding: 0;
    background-color: transparent;
    border: 0;
}

/* Фильтр */
.padding {
    padding-right: 22px !important;
}

.main-background-btn-color {
    background-color: #043785;
    border: 1px solid #043785;
}

.card-wrapper {
    margin: 20px;
    width: 217px;
    border: 2px black solid;
    border-radius: 5px;
    position: relative;
}
